
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to Profile Section</h1>
<br />
<h2>Name:Huseyin</h2>
<br />
<h2>Surname:Lusi</h2>
<br />
<h2>Education;Highschool</h2>
<br />
<h2>City:Gostivar</h2>

