<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Diğer kaynakları burada ekleyebilirsiniz -->
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="System.Data.SqlClient" />
    <!-- Diğer paketleri burada ekleyebilirsiniz -->
      <package pattern="Microsoft.Data.SqlClient" />
      <package pattern="Microsoft.NETCore.Platforms" />
      <package pattern="Microsoft.Win32.Registry" />
      <package pattern="runtime.native.System.Data.SqlClient.sni" />
      <package pattern="runtime.win-arm64.runtime.native.System.Data.SqlClient.sni" />
      <package pattern="runtime.win-x64.runtime.native.System.Data.SqlClient.sni" />
      <package pattern="runtime.win-x86.runtime.native.System.Data.SqlClient.sni" />
      <package pattern="System.Security.AccessControl" />
      <package pattern="System.Security.Principal.Windows" />
    </packageSource>
  </packageSourceMapping>
</configuration>
