
@{
    ViewBag.Title = "NewCategorie";
    Layout = "~/Views/Shared/_MainLAyout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Categorie Name</label>
        <input type="text" class="form-control" name="KATEGORIAD" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Add Categorie</button>
    </div>

</form>

